@charset "utf-8";
html{
  overflow-x: hidden; overflow-y: auto;
  word-break: break-word;
}
body{
  overflow-x: hidden; overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: rgb(0, 123, 255); /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /* 스크롤바 뒷 배경 색상 */
}
header .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
header .main-menu .menu{
  display: flex;
  margin: 0 15px;
}
header .main-menu .menu li{
  padding: 0 10px;
  font-size: var(--font-size-18);
  font-family: var(--main-font-);
  font-weight: 500;
}
header .main-menu .loge{
  /* background: url(./images/Volvo_logo.png) no-repeat 50% / contain; */
  /* width: 130px; height: 30px; */
  /* text-indent: -9999px; */
  margin-left: 25px;
}
header .main-menu .loge img{
  object-fit: cover;
  width: 150px;
  margin-top: 5px;

}
header .main-volov{
  position: relative;
}

header .main-volov img{
  width: 100%;
}
 
header .main-volov h2{
  position: absolute;
  top: 42%; left: 23%; 
  transform: translate(-15%, -100%);
  text-align: center;
  font-size: clamp(1.375rem, 0.125rem + 5.5556vw, 1.5625rem);

  font-family: var(--main-font-);
  font-weight: 700;
  color: #fff;
}

/***** RECHARGE Model *****/
.Model .tablet .tablet-text{
  display: none;
}
.Model{
  margin: 60px 0 50px;
}
.Model h2{
  margin: 35px 30px;
  font-size: clamp(1.563rem, 5vw, 3rem); /*var(--font-size-35)*/;
  font-family: var(--main-font-);
  font-weight: 700;
}
.Model .sub-menu{
  display: flex;
}
.Model .sub-menu img{
  width: 50vw;
}
.Model .sub-menu li{
  margin: 0 30px;
}
.Model .sub-menu li p{
  margin: 20px 8px 10px;
  font-size: var(--font-size-20);
  font-family: var(--main-font-);
  font-weight: 700;
}
.Model .sub-menu li span{
  margin-left: 8px;
  font-size: var(--font-size-18);
  font-family: var(--main-font-);
  font-weight: 500;
}

/***** xc90 *****/
.xc90{
  position: relative;
}
.xc90 img{
  width: 100%;
}
.xc90 .volvo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.xc90 .volvo-text h3{
  font-size: var(--font-size-18);
  font-family: var(--main-font-);
}
.xc90 .volvo-text h2{
  font-size: var(--font-size-35);
  font-family: var(--main-font-);
  font-weight: 700;
  margin-top: 25px;
}
.xc90 .volvo-text .btn{
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.xc90 .volvo-text .btn li{
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
  color: #222;
  font-family: var(--main-font-);
  font-size: var(--font-size-18);
  font-weight: 600;
  width: 125px;
  padding: 15px;
  margin-top: 30px;
  margin: 30px  20px;
}
.xc90 .volvo-text .btn li:hover{
  background-color: rgba(0, 123, 255, 0.88);
  color: #fff;
  transition: 0.4s;
}

/***** car-menu *****/
.car-menu{
  margin-top: 15vw;
  display: flex;
  width: 200vw;
  
}
.car-menu li{
  background-color: #f7f7f7;
  position: relative;
  margin: 0 20px;
  width: 400px;
  height: 50vw;
  overflow: hidden;
}
.car-menu img{  
  width: 60vw;
  margin-top: 20vw;
  position: relative;
  left: 40%;
} 
.car-menu li img:hover{
  position: absolute;
  right: -40%;
  transform: translatex(-40%);
  transition: 1s;
}
.car-menu li div{
  position: absolute;
  top: 15px; left: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: var(--font-size-18);
  font-family: var(--main-font-);
}
.car-menu li div h3{
  font-weight: 700;
}

/**** electric-part ****/
.electric-part{
  margin-top: 20vw;
}
.electric-part .electric{
  text-align: center;
}
.electric-part .electric h1{
  font-size: clamp(1.188rem, 6vw, 1.875rem) /*var(--font-size-30)*/;
  font-family: var(--main-font-);
  font-weight: 600;
  color: var(--main-font-color-);
  margin-bottom: 15px;
  margin: 0 25px 15px;
}
.electric-part .electric h3{
  font-size:clamp(0.625rem, 0.75rem, 0.813rem) /*var(--font-size-14)*/;
  font-family: var(--main-font-);
  font-weight: 400;
  color: var(--main-font-color-);
  margin: 0 14px;
}
.electric-part ul{
  display: flex;
  justify-content: center;
  margin-top: 8vw;
}
.electric-part ul li{
  background-color: #f7f7f7;
  margin: 0 5px;
  position: relative;
}
.electric-part  ul li img{
  width: 46vw;
  margin-top: 10vw;
}

.electric-part  ul li h3{
  font-family: var(--main-font-);
  /* word-break: break-word; */
  font-size: clamp(0.813rem,3vw,1rem) /*var(--font-size-16)*/;
  font-weight: 600;
  margin: 10px 15px;

}
.electric-part  ul li h4{
  position: absolute;
  top: 12vw;
  font-family: var(--main-font-);
  font-size: var(--font-size-14);
  font-weight: 500;
  margin: 0 15px;
}
.electric-part  ul li h4 a{
  color: rgba(0, 123, 255, 0.88);
}
.electric-part  ul li h4 a:hover{
  color: #222;
}
.electric-part  ul li p{
 display: none;
}

/**** xc90-banner ****/
.xc90-banner{
  margin-top: 50px;
}
.xc90-banner .xc90-volvo{
  position: relative;
}
.xc90-banner .xc90-volvo img{
  width: 100%;
}
.xc90-banner .xc90-volvo .xc90-volvo-text{
  position: absolute;
  top: 45px; left: 45px;
  font-family: var(--main-font-);
  color: #fff;
}
.xc90-banner .xc90-volvo .xc90-volvo-text h2{
  font-size: clamp(1.875rem,2vw,2.063rem) /*var(--font-size-35)*/;
  font-weight: 600;
  margin-bottom: 10px; 
  
}
.xc90-banner .xc90-volvo .xc90-volvo-text h3{
  font-size: clamp(1.75rem,2vw,2rem) /*var(--font-size-26)*/; 
  font-weight: 500;
  margin-left: 15px;
}
.xc90-banner{
  background-color: #eee;
}
.xc90-banner .service{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.xc90-banner .service h2{
  font-size: /*clamp(1rem,1rem,1rem)*/ var(--font-size-15);
  font-family: var(--main-font-);
  font-weight: 700;
  margin-left:10px;
}
.xc90-banner .service img{  
  width: 4vw;
  display: block;
  margin: 30px auto 13px;
  transition: 0.5s;
}
.xc90-banner .service img:hover{
  transform: scale(2);
}
.xc90-banner .service ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.xc90-banner .service ul li{
  margin: 0 8px;
  font-size: var(--font-size-12);
  font-family: var(--main-font-);
  font-weight: 400;
}
.xc90-banner .service ul li:nth-child(2){
  margin-bottom: 5px;
}
footer{
  background-color: #222;
  color: #fff;

  font-size: var(--font-size-10);
}
footer div h2{
  margin: 0 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
footer div h2 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px; height: 30px;
  border: 2px solid #ddd;
  margin-top: 20px;
}


footer div h3{
  display: flex;
  justify-content: left; 
  margin-left: 30px;
  font-size: var(--font-size-12);
}
footer .footer-text{
  padding-bottom: 20px;
}

footer .footer-text ul{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
} 
footer .footer-text ul li{
  padding: 0 7px;
}
footer .footer-text ul svg{
  width: 15px;
}