@charset "utf-8";

@media (width >= 768px){
  header .main-menu .menu{
    margin-right: 50px;
  }
  header .main-menu .loge{
    margin-left: 50px;
  }
  header .main-menu .loge img{
    width: 180px;
  }
  header .main-volov{
    position: relative;
  }
  
  header .main-volov img{
    width: 100%;
  }
  header .main-volov h2{
    position: absolute;
    top: 45%; left: 24%; 
    transform: translate(-15%, -100%);
    text-align: center;
    font-size: clamp(2.9rem, -0.0625rem + 6.1719vw, 4.875rem);
    /* font-size: 2.9rem; min */
    /* font-size: 4.875rem max; */
    font-family: var(--main-font-);
    font-weight: 700;
    color: #fff;
  }

/***** Model ******/
  .Model{
   margin: 0;
  }
  .Model .tablet{
    display: block;
    float: left;
    background: url(./images/xc90-banner-mobile.png) no-repeat 100% / cover;
    /* text-indent: -9999px; */
    width: 60%;
    height: 50vw;
    position: relative;
  }
  .Model .tablet .tablet-text{
    display: block;
    position: absolute;
    top: 50px; left: 50px;
    font-size: clamp(1.563rem, 5vw, 3rem);
    color: #fff;
  }
  .Model .tablet .tablet-text h3{
    font-weight: 700;
    font-family: var(--main-font-);
  }
  .Model .tablet .tablet-text h3:nth-child(2){
    margin-top: 10px;
    margin-left: 35px;
  }
  .Model h2{
    position: absolute;
    top: 100px; left: 50px;
    margin: 0 50px;
    /*font-size: clamp(1.563rem, 5vw, 3rem);*/ font-size: var(--font-size-35);
    font-family: var(--main-font-);
    font-weight: 700;
  }
  .Model .sub-menu{
    display: flex;
  }
  .Model .sub-menu img{
    width: 30vw;
  }
  .Model .sub-menu li{
    margin: 120px 0  0 30px ;
  }
  .Model .sub-menu li p{
    margin: 20px 8px 10px;
    font-size: var(--font-size-20);
    font-family: var(--main-font-);
    font-weight: 700;
  }
  .Model .sub-menu li span{
    margin-left: 8px;
    font-size: var(--font-size-18);
    font-family: var(--main-font-);
    font-weight: 500;
  }
}