@charset "utf-8;"

header .main-menu .menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu .menu li .loge{
  background: url(./images/Volvo_logo.png) no-repeat 50% / contain;
  
}
header .main-volov img{
  width: 100%;
  position: relative;
}
header .main-volov h2{
  position: absolute;
  top: 250px; left: 65px;
  font-size: var(--font-size-30);
  font-family: var(--main-font-);
  font-weight: 700;
  color: #fff;
}

/***** RECHARGE Model *****/
.Model{
  margin-top: 100px;
}
.Model h2{
  margin: 50px;
}
.Model .sub-menu{
  display: flex;
}
.Model .sub-menu img{
  width: 50vw;
}