@charset "utf-8";


@media (width >= 1290px){
    header .main-menu .menu{
        margin: 10px 50px;
        /* margin-right: 50px; */
      }
      header .main-menu .loge{
        margin-left: 60px;
      }
      header .main-menu .loge img{
        width: 10vw;
      }
      header .main-volov{
        position: relative;
      }
      header .main-volov img{
        /* background: url(./images/main-volov-normal.jpg) no-repeat 50% / cover; */
        width: 100%;
        
      }
      header .main-menu .menu .none{
        display: block;
      }
      header .main-menu .menu li{
        padding: 0 25px;
        font-size: 1.5vw;
        font-family: var(--main-font-);
        font-weight: 500;
      }
      header .main-volov h2{
        position: absolute;
        top: 45%; left: 25%; 
        transform: translate(-15%, -100%);
        text-align: center;
        font-size: 6vw;
        /* font-size: 2.9rem; min */
        /* font-size: 4.875rem max;*/
        font-family: var(--main-font-);
        font-weight: 700;
        color: #fff;
      }

/***** Model ******/
  .Model{
    margin: 0;
   }
   .Model .tablet{
     display: block;
     float: left;
     background: url(../images/xc90-bannerphoto2.png) no-repeat 50% / cover;
     width: 50vw;
     height: 40vw; 
     position: relative;
   }
   .Model .tablet .tablet-text{
     display: block;
     position: absolute;
     top: 70px; left: 80px;
     font-size: 2.5vw;
     color: #fff;
   }
   .Model .tablet .tablet-text h3{
     font-weight: 700;
     font-family: var(--main-font-);
   }
   .Model .tablet .tablet-text h3:nth-child(2){
     margin-top: 10px;
     margin-left: 35px;
   }
   .Model h2{
     display: block;
     height: 7vw;
     margin: 0 0 0 55.5vw; /*800px*/
     padding-top: 70px;
     font-size: 2vw;
     font-family: var(--main-font-);
     font-weight: 700;
   }
   .Model .sub-menu{
     display: flex;
   }
   .Model .sub-menu img{
     width: 20vw;
   }
   .Model .sub-menu li{
     margin: 100px 15px 0 60px;
   }
   .Model .sub-menu li p{
     margin: 15px 8px 0;
     font-size: 1.5vw;
     font-family: var(--main-font-);
     font-weight: 700;
   }
   .Model .sub-menu li span{
     margin-left: 8px;
     font-size: 1.8vw;
     font-family: var(--main-font-);
     font-weight: 500;
   }

/***** xc90 ******/
  .xc90{
    position: relative;
  }
  .xc90 img{
    width: 60vw;
    height: 80vh;
    opacity: 0;
  }
  .xc90 .back-img{
    background: url(../images/volvo-xc90-mobile.png) no-repeat 50% /cover;
    margin-top: 10vw;
  }
  .xc90 .volvo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .xc90 .volvo-text h3{
    font-size: 2vw;
    font-family: var(--main-font-);
  }
  .xc90 .volvo-text h2{
    font-size: 4vw;
    font-family: var(--main-font-);
    font-weight: 700;
    margin: 60px 0 2vw;
  }
  .xc90 .volvo-text .btn{
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw;
    

  }
  .xc90 .volvo-text .btn li{
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 10px;
    color: #222;
    font-family: var(--main-font-);
    font-size: 1.5vw;
    font-weight: 600;
    width: 15vw;
    padding: 1vw ;
    margin: 50px  5vw;
  }
  .xc90 .volvo-text .btn li:hover{
    background-color: rgba(0, 123, 255, 0.88);
    color: #fff;
    transition: 0.4s;
  }

  /****** car-menu *******/

  .car-menu{
    margin-top: 5vw;
    display:grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
  .car-menu li{
    background-color: #eeee;
    position: relative;
    width: 28vw;
    height: 20vw;
    overflow: hidden;
  }
  .car-menu img{  
    width: 20vw;
    margin-top: 10vw;
    position: relative;
    left: 60%;
  } 
  .car-menu li img:hover{
    position: absolute;
    right: -40%;
    transform: translatex(-60%);
    transition: 1s;
  }
  .car-menu li div{
    position: absolute;
    top: 20px; left: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: var(--main-font-);
  }
  .car-menu li div h3{
    font-weight: 700;
  }
  .car-menu li div h4{
    font-size: 1.5vw;
  }

  /***** xc90-banner ******/
  .xc90-banner .xc90-volvo{
    display: none;
  }

/**** electric-part ****/
  .electric-part{
    margin-top: 10vw;
  }
  .electric-part .electric{
    text-align: center;
  }
  .electric-part .electric h1{
    font-size: 3.5vw;
    font-family: var(--main-font-);
    font-weight: 600;
    color: var(--main-font-color-);
    margin-bottom: 5vw;
    margin: 0 25px 45px;
  }
  .electric-part .electric h3{
    font-size: 1.5vw;
    font-family: var(--main-font-);
    font-weight: 400;
    color: var(--main-font-color-);
    margin: 0 14px;
  }
  .electric-part ul{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
  }
  .electric-part ul li{
    background-color: #f7f7f7;
    margin: 0 5vw;
    position: relative;
    width: 30vw;
    /* height: 42vw; */
  }
  .electric-part  ul li img{
    width: 18vw;
    margin: 0;
    margin-left: 12vw;
    /* margin-bottom: 50vw; */
    /* margin-top: 1vw; */
  }

  .electric-part  ul li h3{
    font-family: var(--main-font-);
    font-size: 2vw;
    font-weight: 600;
    margin: 30px 40px;

  }
  .electric-part  ul li h4{
    position: absolute;
    top: 12vw;
    font-family: var(--main-font-);
    font-size: 1vw;
    font-weight: 500;
    margin: 0.5vw 40px;
  }
  .electric-part  ul li h4 a{
    color: rgba(0, 123, 255, 0.88);
  }
  .electric-part  ul li h4 a:hover{
    color: #222;
  }
  .electric-part  ul li p{
    display: block;
    font-size: 1.2vw;
    font-family: var(--main-font-);
    margin: 0 40px;
  }

/***** xc90-banner ****/
  .xc90-banner{
    background-color: #eee;
  }
  .xc90-banner .service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vw;
  }
  .xc90-banner .service h2{
    font-size: 2vw;
    font-family: var(--main-font-);
    font-weight: 700;
    margin-left: 10px;
  }
  .xc90-banner .service img{  
    width: 2vw;
    display: block;
    margin: 30px auto 13px;
    transition: 0.5s;
  }
  .xc90-banner .service img:hover{
    transform: scale(2);
  }
  .xc90-banner .service ul{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
  }
  .xc90-banner .service ul li{
    margin: 0 3vw;
    font-size: 1.5vw;
    font-family: var(--main-font-);
    font-weight: 400;
  }

  /***** footer ******/

  footer{
    background-color: #222;
    color: #fff;
    font-size: 2vw;
  }
  footer .grid ul{
    display: flex;
    justify-content: space-between;
  }
  footer div h2{
    display: block;
    float: left;
    margin-left: 5vw;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 1.5vw;
  }
  footer div h2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw; height: 5vw ; /* 7vh 13vh*/
    border: 3px solid #ddd;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 300;
    font-family: var(--main-font-);
  }
  
  footer div h3{
    /* display: none; */
    display: block;
    clear: both;
    text-align: right;
    margin: 50px 10vw;
    font-size: 2vw;
  }
  
  footer .footer-text ul{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0;
    margin-right: 10vw;
  } 
  footer .footer-text ul li{
    padding: 0 20px;
  }
  footer .footer-text ul svg{
    width: 2vw; 
  }
}